

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),url(123.jpg);
    background-size: cover;
    font-family: 'poppins',sans-serif;
}
nav{
    width: 100%;
    height: 100px;

    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 2em;
    letter-spacing: 2px;
}
.menu a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
}

.menu a:hover{
    border: 1px solid rgb(233, 245, 70);
    background: transparent;
}
.register a{
    text-decoration: none;
    color: #100e0e;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    background: rgb(23, 241, 223);
}
.register a:hover{
    border: 1px solid indianred;
    background: rgb(247, 244, 100);
}
.h-text{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 650px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #f7f9f6;
}
.h-text span{
    letter-spacing: 5px;
}
.h-text h1{
    font-size: 3.5em;
}
.h-text a{
    text-decoration: none;
    color: #0e0e10;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    background: rgb(23, 241, 223);
}
.h-text a:hover{
    border: 1px solid indianred;
    background:rgb(247,244,100);
}
   
